* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Anta", sans-serif;
    color: white;
}

body {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(109.6deg, rgb(0, 0, 0) 11.2%, rgb(7, 110, 121) 91.1%);
    background-attachment: fixed;
}

.heading {
    font-size: 2.6rem;
    text-align: center;
    max-width: fit-content;
    padding: 0.6rem 2rem;
    margin: 26px auto;
    border: 5px double white;
    border-radius: 12px;
    transition-duration: 0.5s;
}

.heading:hover {
    border: 5px double black;
    color: black;
    background-color: rgb(255, 245, 104);
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
}

.card {
    display: flex;
    flex-direction: column;
    max-width: 30%;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px 8px;
    margin-top: 20px;
    transition-duration: 0.5s;
}

.card:hover {
    background-color: rgba(0, 0, 0, 0.247);
}

.tour-img {
    max-width: 100%;
    aspect-ratio: 5/3;
    border-radius: 6px;
}

.tour-name {
    font-size: 1.5rem;
    padding-top: 8px;
    font-weight: 600;
}

.tour-price {
    font-size: 1rem;
    padding-top: 6px;
    color: rgb(255, 245, 104);
}

.tour-desc {
    padding-top: 6px;
    text-align: center;
}

.read-more-btn {
    color: rgb(0, 200, 255);
    cursor: pointer;
}

.btn-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px 0;
    text-align: center;
}

.add-tour {
    all: unset;
    border: 2px solid rgb(255, 245, 104);
    padding: 4px 10px;
    cursor: pointer;
    border-radius: 5px;
    transition-duration: 0.5s;
}

.add-tour:hover {
    background-color: rgb(255, 245, 104);
    color: black;
    border: 2px solid black;
}

.not-interested {
    all: unset;
    border: 2px solid rgb(255, 245, 104);
    padding: 4px 10px;
    cursor: pointer;
    border-radius: 5px;
    transition-duration: 0.5s;
}

.not-interested:hover {
    background-color: rgb(255, 245, 104);
    color: black;
    border: 2px solid black;
}

.refresh-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 14px;
    margin-top: 48vh;
}

.no-available {
    font-size: 1.8rem;
}

.refresh-btn {
    all: unset;
    border: 2px solid rgb(255, 245, 104);
    padding: 4px 10px;
    cursor: pointer;
    border-radius: 5px;
    transition-duration: 0.5s;
}

.refresh-btn:hover {
    background-color: rgb(255, 245, 104);
    color: black;
    border: 2px solid black;
}